---

import Layout from '../../layouts/Layout.astro';
import data from '../../../public/data.json';
import '../../../assets/scss/astro-ecommerce.scss';
import Navbar from '../../components/navbar';
import CardProduct from '../../components/products/cardProduct';
import ProductOverviewGrid from '../../components/products/productOverviewGrid';
import StoreDoubleColumn from '../../components/store/storeDoubleColumn';
import ReviewSummaryChart from '../../components/reviews/reviewSummaryChart';
import '../../../assets/scss/auto-index.css'
export function getStaticPaths() {
  return [
    {params: {product: 'Estante'}},
    {params: {product: 'Mesa de centro'}},
    {params: {product: 'Triple cajonera'}},
    {params: {product: 'Esquinero'}},
    {params: {product: 'Reloj de pie'}},
    {params: {product: 'Florero'}},
  ];
}

const { product } = Astro.params;

// filter reviews with ID 01
let productReviews = data.products.filter(x => x.title == product);
---



<Layout title={'Cartoonmania | '+ product}>
	<main>
    <Navbar />
    <div class="container mt-5">
      <ProductOverviewGrid  
        images={productReviews[0]?.thumb_src}
        title={productReviews[0].title}
        full_description={productReviews[0].full_description}
        price={productReviews[0].price}
        highlights={productReviews[0]?.highlights}
        rating={productReviews[0].rating}
    
  
      />    

  

      <div class="row">
        <h5 class="mb-4">Otros han comprado</h5>
        {data.products.map(product => 
          <div class="col-md-6 col-lg-3">
            <CardProduct 
              thumb_src = {product.thumb_src}
              thumb_alt = {product.thumb_alt}
              color = {product.color}
              title = {product.title}
              price = {product.price}
              position = "left"
            />
          </div>
        )}        
      </div>
     
  </main>

</Layout>